@{
    Layout = null;
}
<!Doctype html>
<Html>
    <head>
        <title>Change Password</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/ChangePassword.css" rel="stylesheet" />
    </head>
    <body>
        <div class="ChangePassword-container">
<form id="change-password-form">
    @* Header section *@
    <div class="header">
     <h1>Change Password&nbsp;</h1>
        <div class="dropdown">
            <button class="dropbtn" id="dropdownButton">Adminname</button>
            <div class="dropdown-content" id="dropdownContent">
                <a href="/Home/Login">Logout</a>
            </div>
        </div>
    </div>
    @* Error message section *@
    <div class="alert alert-danger d-none" id="errorMessageContainer"></div>
  @* Div for old password input *@
  <div class="form-group">
    <label for="old-password">Old Password</label>
    <input type="password" class="form-control" id="old-password" placeholder="Enter old password" minLength="8" maxlength="64" required>
  </div>
  @* Div for new password input *@
  <div class="form-group">
    <label for="new-password">New Password</label>
            <input type="password" class="form-control" id="new-password" placeholder="Enter new password" minLength="8" maxlength="64" required>
  </div>
  @* Div for re-enter password input *@
  <div class="form-group">
    <label for="re-enter-password">Re-enter New Password</label>
            <input type="password" class="form-control" id="re-enter-password" placeholder="Re-enter new password" minLength="8" maxlength="64" required>
  </div>
  @* Div for password policy *@
  <div class="form-group" id = "policy">
    <label id= "password-requirements-label" for="password-requirements">Password must contain:</label>
    <ul class="password-requirements">
      <li>At least 8 characters</li>
      <li>Maximum 64 characters</li>
      <li>At least 1 upper case letter (A-Z)</li>
      <li>At least 1 lower case letter (a-z)</li>
      <li>At least 1 number (0-9)</li>
      <li>At least 1 special character (! # $ % ^ &amp; * +)</li>
    </ul>
  </div>
  @* Submit button *@
  <button type="submit" class="btn btn-primary">Save</button>
</form>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="~/js/changepassword.js"></script>
<script src="~/js/browsernavigation.js"></script>
</Html>