/* Reset styles */
.container {
    max-width: 1200px; /* Increase the max-width */
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    position: relative; /* Add position relative */
    border: 1px solid #ccc; /* Add border */
}

body {
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
    letter-spacing: normal;
    line-height: 1.15;
    color: var(--dl-color-gray-black);
    background-color: var(--dl-color-gray-white);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.personal-detail-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    flex-direction: column;
}

.personal-detail-image {
    top: 50px;
    left: 400px; /* Adjust position */
    width: 52px;
    height: 52px;
    position: absolute;
    object-fit: cover;
}

.dropdown {
    position: absolute;
    display: inline-block;
    right: 100px; /* Adjust position */
    top: 50px;
}

.dropbtn {
    background-color: white;
    color: black;
    padding: 10px 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        .dropdown-content a:hover {
            background-color: #f1f1f1;
        }

.dropdown:hover .dropdown-content {
    display: block;
}


.personal-detail-form {
    top: 160px;
    left: 20px; /* Adjust position */
    width: calc(100% - 40px); /* Adjust width to fit container */
    height: 787px;
    display: flex;
    position: absolute;
    align-items: flex-end;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    justify-content: center;
}

.personal-detail-text06 {
    top: 73px;
    left: 44px;
    position: absolute;
}

.personal-detail-textinput {
    top: 65px;
    left: 130px;
    width: 344px;
    position: absolute;
}

.personal-detail-text07 {
    top: 75px;
    left: 600px;
    position: absolute;
}



.date-input-container {
    top: 67px;
    right: 105px;
    width: 280px;
    position: absolute;
}

.personal-detail-text08 {
    top: 151px;
    left: 42px;
    position: absolute;
}

.personal-detail-select {
    top: 151px;
    left: 136px;
    position: absolute;
}

.personal-detail-text09 {
    top: 133px;
    left: 598px;
    position: absolute;
}

.personal-detail-textinput2 {
    top: 120px;
    right: 103px;
    width: 283px;
    position: absolute;
}

.personal-detail-text10 {
    top: 197px;
    left: 601px;
    position: absolute;
}

.personal-detail-select1 {
    top: 198px;
    right: 276px;
    position: absolute;
}

.personal-detail-text11 {
    top: 18px;
    left: 43px;
    position: absolute;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
}

.personal-detail-text12 {
    top: 272px;
    left: 41px;
    position: absolute;
}

.personal-detail-textarea {
    top: 269px;
    left: 154px;
    width: 860px;
    height: 93px;
    position: absolute;
}

.personal-detail-text13 {
    top: 417px;
    left: 56px;
    position: absolute;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
}

.personal-detail-text14 {
    top: 427px;
    left: 372px;
    position: absolute;
}

.personal-detail-textinput3 {
    top: 420px;
    left: 493px;
    width: 476px;
    position: absolute;
}

.personal-detail-text15 {
    top: 489px;
    left: 374px;
    position: absolute;
}

.personal-detail-textinput4 {
    top: 483px;
    left: 492px;
    width: 476px;
    position: absolute;
}

.personal-detail-text16 {
    top: 549px;
    left: 50px;
    position: absolute;
}

.personal-detail-button {
    left: 370px;
    bottom: 160px;
    position: absolute;
}

.personal-detail-textinput5 {
    left: 464px;
    width: 356px;
    bottom: 159px;
    position: absolute;
}

.personal-detail-button1 {
    left: 491px;
    bottom: 55px;
    position: absolute;
}

.personal-detail-text20 {
    top: 50px;
    left: 460px;
    position: absolute;
}

.preview-container {
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
    margin-top: 10px;
    position: absolute;
    left: 130px; /* Adjust position */
    bottom: 60px;
}