body {
    background-image: url('../image/simple shiny (1).svg');
    background-size: cover;
    background-position: center;
}

.ChangePassword-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin-top: 10%;
}

form#change-password-form {
    width: 800px;
    height: 500px;
    padding: 20px;
    border: 1px solid #cccc;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    margin: 50px auto;
    background-color: white;
}

.dropdown {
    position: relative;
    display: inline-block;
    left: 656px;
    top: -50px;
}

.dropbtn {
    background-color: white;
    color: black;
    padding: 10px 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width:auto;
    border: 1px solid;
    border-radius:3px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        .dropdown-content a:hover {
            background-color: #f1f1f1;
        }

.dropdown:hover .dropdown-content {
    display: block;
}

.form-group {
    margin-bottom: 20px;
    padding-left: 40px;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.password-requirements {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 0.875rem;
    color: #000000a1;
}
   

input#old-password {
    width: 300px;
    border-radius: 5px;
}

input#new-password {
    width: 300px;
    border-radius: 5px;
}

input#re-enter-password {
    width: 300px;
    border-radius: 5px;
}

div#policy {
    top: -221px;
    position: relative;
    left: 400px;
    border: 1px solid transparent;
    width: 340px;
    border-radius: 26px;
    background-color: #9d27d180;
}

    div#policy::before {
        content: "";
        position: absolute;
        bottom: 29px;
        left: -41px;
        border: 20px solid transparent;
        border-top-color: #9d27d180;
        transform: rotate(90deg);
        transform-origin: center;
    }

button.btn.btn-primary {
    margin-top: 20px;
    width: 100px;
    border-radius: 5px;
    background-color: #992a78;
    margin-left: 41px;
    position: relative;
    bottom: 170px;
}

    button.btn.btn-primary:hover {
        background-color: #a10978;
    }